 <h1>新しい目標</h1>
<!-- form_with部分 -->
<%= form_with model:goal, local:true do |f| %>

  <h4>Title</h4>
  <%= f.text_field :goal_title %>

  <h4>Detail</h4>
  <%= f.text_area :goal_description %>
  
  <h4>期限</h4>
  <%= f.text_area :goal_start %>
  ~
  <%= f.text_area :goal_end %>
  
  <%= f.submit '作成する', class:"btn btn-success" %>
<% end %>